body #root {
  background: #dddbde;
  margin: 0 auto;
}

.App {
  max-width: 960px;
  margin: 10px auto;
  font-family: "Fredoka" sans-serif;
}

.App-logo {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
}
.App-footer a {
  text-decoration: none;
  color: black;
  opacity: 0.5;
  font-weight: bold;
}
